<div class="card mb-4">
    <div class="poll-image">
        <img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/dog-2785074_960_720.jpg" />
    </div>
   

    <div class="card-body">
        <p class="card-text text-truncate font-weight-bold">
                  Do you like more cats or dogs?
        </p>
        <div class="d-flex justify-content-between">
            <small class="text-muted">
                10 votes
            </small>
            <small class="text-muted">
                voted
            </small>
        </div>
    </div>
</div>


